*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
}
.hero{
    background-image: url(git.jpeg);
    height: 100vh;
    width: 100wh;
    background-repeat: no-repeat;

}
nav{
   display: flex;
   justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: aqua;
}
nav ul li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 10px 30px;
}
nav ul li a{
    color: #1d1d24;
    position: relative;
    font-weight: bold;
    padding: 5px 0px;
}
nav ul li a:hover{
    color: aqua;
}
.btan{
    color: #1d1d24;
    font-size: 16px;
    text-transform: uppercase;
    padding: 6px 12px;
    border-radius: 7px;
    display: inline-block;
    border: 2px solid #1d1d24;
    transition: all .4s ease-in-out;
}
.btan:hover{
    background: transparent;
}
.details{
    position: absolute;
    top: 300px;
    left: 100px;
}
.details h2{
    color: #1d1d24;
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
}
h2 span{
    color: aqua;
}
.details p {
    color: #1f1f25;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: bold;
}
 .btnn{
    color: #1d1d24;
    font-size: 16px;
    background-color: aqua;
    text-transform: uppercase;
    padding: 6px 12px;
    border-radius:7px;
    display: inline-block;
    border: 2px solid #1d1d24;
    transition: all .4s ease-in-out;
}
.btnn:hover{
    background: transparent;
}
.bton{
    color: #1d1d24;
    font-size: 8px;
    font-weight: bold;
    background-color: darkgoldenrod;
    padding:2px 0px ;
    border-radius: 2px;
    border: none;

}
